################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Debug
/.vs/Code/v16
/LP_Lab14/Debug
/LP_Lab14/in
/LP_asm01/Debug
/LP_asm01a/Debug
/LP_asm01b/Debug
/LP_asm01c/Debug
/LP_asm01d/Debug
/LP_asm01e/Debug
