################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Debug
/.vs/Code/v16
/LP_Lab14/Debug
/LP_Lab14/in
